<div class="container">
  <div class="row">
    <h3>フォロー一覧</h3>
  </div>
  <div class="row">
    <% if @customers.present? %>
      <%= render 'public/customers/index', customers: @customers %>
    <% else %>
      <p>フォローしている作者はいません</p>
    <% end %>
  </div>
</div>
