<div class="container">
  <% if @model == 'customer' %>
    <div class="row mb-5">
      <h3>【会員の検索結果】 検索ワード：<%= @content %></h3>
    </div>
    <%= render 'public/customers/index', customers: @records %>
  <% else @model == 'item' %>
    <div class="row mb-5">
      <h3>【作品の検索結果】 検索ワード：<%= @content %></h3>
    </div>
    <%= render 'public/items/index', items: @records %>
  <% end %>
</div>




