/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header {
   background-image: image-url("header.jpg");
   background-size: cover;
 }

 .logo {
   height: 50px;
 }

 .search {
   margin-right: 20px;
 }

 .top {
   padding: 100px;
   background-image: image-url("image1.jpg");
   background-size: cover;
   background-position: center;
 }

 .about {
   background-image: image-url("image2.jpg");
   background-size: cover;
   background-position: center;
 }

 .about-title {
   margin: 30px;
   padding: 10px;
   border-radius: 10px;
   background-color: #fff3b8;
 }

 .about-box {
   margin: 0 auto;
 }

.about1 {
  margin: 10px 10px 50px 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: pink;
}

.about2 {
  margin: 50px 10px 10px 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightblue;
}

.about-sign_in {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}

.tag-name {
  display:inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: pink;
}

#notice {
  text-align: center;
  background-color: pink;
}

.error {
  color: red;
}

.index-img {
  width: 260px;
  height: auto;
}

.show-img {
  width: 350px;
  height: auto;
}

.field_with_errors {
  display: contents;
}

