<div class="row">
    <h3>タグリスト</h3>
  </div>
  <% tag_list.each do |list| %>
    <span class="tag-name">
      <%= link_to tag_items_path(tag_id: list.id), class: "text-dark" do %>
        #<%= list.name %>
      <% end %>
      <%= "#{list.items.count}" %>
    </span>
  <% end %>